@import url('framework.css');

body{
  background: var(--cloud-white);
  color: var(--charcoal-soft);
}
h2{
width: 100%;
}
header.container{
  position: sticky;
  top: 0;
  right: 1rem;
  background: var(--sky-blue);
  filter: opacity(.7);
}
button#play{
  margin-left: auto;
  background: var(--rose-petal);
  color: var(--charcoal-soft);
  border-radius: 500px;
}
#hero{
  padding: 1rem;
  background: url('../media/Bg.jpg') no-repeat center;
  background-size: 100% 100%;
  align-items: stretch;
  gap: 2rem;
  margin-bottom: 1rem;
}
#hisImg{
  width: min(400px, 100%);
  aspect-ratio: 1/1;
  border: 6px solid var(--mint-leaf);
}
.highlight{
  margin-bottom: 1rem;
}
.highlight::before{
  content: '\26AB';
  margin-right: .5rem;
}

main>section{
  margin-bottom: 1rem;
}
#first, #gallery{
  gap: 1rem;
  transition: all 0.3s ease;
}
#about, #timeline{
  background: var(--sun-peach);
  align-self: stretch;
  flex: 1 1 min(400px, 100%);
  padding: .5rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 7px var(--charcoal-soft);
}
.gallery{
  aspect-ratio: 1/1;
  width: 45%;
  border: 3px solid var(--serenity-blue);
  transition: .5s ease-in-out;
}
#gallery img {
  width: 45%;
  height: auto;
  object-fit: cover;
    border: 3px solid var(--serenity-blue);
  transition: transform 0.4s ease, opacity 0.4s ease;
}
#gallery:hover img {
  opacity: 0.1;
  transform: scale(0.8);
}
#gallery img:hover {
  opacity: 1;
  transform: scale(1.2);
  z-index: 1;
}
div.container{
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: .5rem;
}
#burialarr{
  background: var(--mint-leaf);
}
footer{
  background: linear-gradient(135deg, var(--sky-blue), var(--lavender-blush));
  padding: 1rem;
  text-align: center;
  margin-top: -1rem;
}
#song{
  display: none;
}